.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Weight: 700 */

:root {
    --LinearGradientFrom: hsl(236, 72%, 79%);
    --LinearGradientTo:  hsl(237, 63%, 64%);
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
}

* {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: var(--DarkGrayishBlue);
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggle {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    border: solid 1px black;
    padding: 16px;
}

.white {
    color: var(--VeryLightGrayishBlue);
    font-size: 48px;
}

.monthly p, .annually p {
    color: var(--DarkGrayishBlue);
    font-size: 48px;
}