:root {
    --LinearGradientFrom: hsl(236, 72%, 79%);
    --LinearGradientTo:  hsl(237, 63%, 64%);
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
}

* {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: var(--DarkGrayishBlue);
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}


/* TOP */

.title {
    z-index: 1;
    font-size: 32px;
    color: var(--GrayishBlue);
}

.sub-title {
    color: var(--LightGrayishBlue);
    margin: 0px 16px;
}

.toggle {
    display: flex;
    justify-content: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 56px;
}

body {
    background: #eee;
}

/* TOGGLE IMPORTED AND CHANGED FROM: https://pt.stackoverflow.com/questions/162291/como-criar-um-bot%C3%A3o-toggle-on-e-toggle-off */

.toggle > input {
    display: none;
}

.toggle > label {
    position: relative;
    display: block;
    height: 28px;
    width: 52px;
    background-color: #f7f7f7;
    border: 1px var(--LinearGradientFrom) solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle > label:after {
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #ffffff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}

.toggle > label:active:after {
    transition: all 0.2s;
    transform: scale(1.15, 0.85);
}

.toggle > input:checked ~ label {
    transition: all 0.2s;
    background-image: -webkit-linear-gradient(45deg, var(--LinearGradientFrom), var(--LinearGradientTo));
    border-color: var(--LinearGradientTo);
}

.toggle > input:checked ~ label:after {
    left: 25px;
}

/* END TOP */


/* MAIN */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card {
    box-shadow: 1px 1px 24px rgba(0, 0, 0, 0.2);
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
    background-color: white;
}

.card p {
    color: var(--GrayishBlue);
}

.cardLeft {
    border-radius: 10px 0px 0px 10px;
}

.cardRight {
    border-radius: 0px 10px 10px 0px;
}

.cardMain {
    background-image: -webkit-linear-gradient(270deg, var(--LinearGradientFrom), var(--LinearGradientTo));
    height: 360px;
}

.cardMain p {
    color: var(--VeryLightGrayishBlue);
}

.monthly {
    display: none;
}

.monthly, .annually {
    margin-bottom: 16px;
}

.monthly p, .annually p {
    color: var(--DarkGrayishBlue);
    font-size: 56px;
    margin: 8px;
}

h2 {
    margin: 8px;
    color: var(--GrayishBlue);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
}

#white {
    color: var(--VeryLightGrayishBlue);
    font-size: 48px;
}

#whiteText {
    font-size: 15px;
    color: var(--VeryLightGrayishBlue);
}

hr {
    width: 100%;
    size: 20px;
    border-color: rgba(255, 255, 255, 0.2); 
}

span {
    font-size: 28px;
    margin-right: 6px;
}

button {
    transition: all 0.2s;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    border: none;
    margin-top: 24px;
}

#white {
    font-size: 56px;
}

.button-color {
    background-image: -webkit-linear-gradient(0deg, var(--LinearGradientFrom), var(--LinearGradientTo));
    color: var(--VeryLightGrayishBlue);
    border: solid 1px var(--LinearGradientFrom);
}

.button-white {
    color: var(--LinearGradientTo);
    border: solid 1px var(--VeryLightGrayishBlue);
}

.white-dollar {
    color: var(--VeryLightGrayishBlue);
}

button:hover {
    transition: all 0.2s;
    cursor: pointer;
}

.button-color:hover {
    background-image: none;
    border: solid 1px var(--LinearGradientFrom);
    color: var(--LinearGradientFrom);
}

.button-white:hover {
    background-color: transparent;
    border: solid 1px var(--VeryLightGrayishBlue);
    color: var(--VeryLightGrayishBlue);
}

/* END MAIN */


/* BACKGROUND IMAGE */

#bg-top {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
}

#bg-bottom {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
}

/* END BACKGROUND IMAGE */


/* FOOTER */

.attribution {
    font-size: 11px; text-align: center;
    position: fixed;
    bottom: 20px;
    z-index: 4;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* END FOOTER */


/* RESPONSIVE */

@media  (max-width: 1000px) {
    body {
        overflow: auto;
        height: auto;
    }

    .title {
        margin-top: 32px;
    }

    .attribution {
        margin: 48px 16px;
        position: relative;
    }

    #bg-bottom {
        display: none;
    }

    .cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card {
        margin: 16px;
        border-radius: 8px;
    }

    .cardMain {
        height: auto;
    }

    .monthly p, .annually p {
        margin-bottom: 16px;
    }
}