@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

body {
    background-color: #131519;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Overpass', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
}

.container, .containerThankYou {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    color: white;
    width: 300px;
    background-image: linear-gradient(45deg, #171E27, #1E2530);
    border-radius: 30px;
    margin: 30px;
    padding: 30px;
}

.titulo {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

.paragrafo, .paragrafoCenter {
    color: rgb(124, 135, 152)
}

.estrela {
    background-color: #273139;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.botoes button, .submit {
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #273139;
    color: hsl(217, 12%, 63%);
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}

.submit {
    transition: all 0.2s;
    background-color: rgb(251, 116, 19);
    color: #ffffff;
    width: auto;
    height: 40px;
    text-decoration: none;
}

.submit:hover {
    transition: all 0.2s;
    background-color: rgb(255, 255, 255);
    color: rgb(251, 116, 19);
}

button:hover {
    cursor: pointer;
}

.botoes button:hover {
    transition: all 0.2s;
    background-color: rgb(149, 158, 172);
    color: white;
}

.botoes button.clicked {
    background-color: #ffffff;
    color: #273139;
}

.containerThankYou {
    justify-content: center;
    align-items: center;
}

.paragrafoCenter {
    text-align: center;
}

.imagemThankYou {
    width: 160px;
    height: auto;
    margin-bottom: 20px;
}

.valor {
    margin-bottom: 30px;
    color: rgb(255, 153, 81);
    background-color: rgb(48, 57, 68);
    padding: 8px 12px;
    border-radius: 100px;
}

@media (max-width: 375px) {
    .botoes button {
        width: 40px;
        height: 40px;
    }
}