.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-rey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}


* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Poppins', sans-serif;
	vertical-align: baseline;
    text-decoration: none;
}

body {
    background-color: var(--Off-white);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.card {
    border-radius: 24px 24px 120px 24px;
    background-color: var(--White);
    width: 800px;
}

.inputsText {
    text-align: start;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 10px;
    width: 160px;
}

.inputsText input {
    border-radius: 5px;
    border: var(--Light-rey) solid 1px;
    font-size: 32px;
    font-weight: 700;
    padding: 10px;
    width: 70%;
    padding-left: 10%;
    margin-top: 10px;
}

.top {
    display: flex;
    color: var(--Smokey-grey);
    margin: 30px;
}

.result {
    display: flex;
}

hr {
    border: 1px solid black;
    width: 300px;
}

.arrow {
    padding: 10px;
    border-radius: 1000px;
    width: 70px;
    height: 70px;
}




button:hover {
    background-color: beige;
}